
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.contenedor-sesion{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    width: 300px;
 
}

.formulario-sesion{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: large;
    
}

.boton-registro, .boton-volver{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.boton-registro:hover, .boton-volver:hover{
    color: gray;
}

.formulario-sesion > input{
    border: none;
    border-bottom: 1px solid;
}

.formulario-sesion input[type="submit"]{
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: medium;
    background-color: rgb(77, 175, 255);

}